#page {
    border: none;
    scroll-behavior: smooth;
    background: rgb(77, 107, 206);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: -20px;
    line-height: 2vh;
    font-style: normal;
    padding: 10px 10px;
}
.exit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;  
    padding: 0px 15px;  
}
.log-out {
    background-color: rgb(77, 107, 206);
    border: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    width: 3vw;
}
.log-out:hover {
    color: azure;
}
.vertical-line {
    border: none; /* Removes default border */
    height: 1vh; /* Height of the line */
    background-color: black; /* Color of the line */
}
.text1 {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 570px;
}
.functions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
}
.func1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.p {
    color: black;
    font-size: 24px;
    font-weight: 600;
    font-style: oblique;
    line-height: 24px;
    background-color: rgb(77, 107, 206);
    border: none;
}
.p:hover {
    color: var(--color2);
}
.line {
    border-right: 4px solid black;
    height: 100vh;
    width: 2%;
    margin-top: -700px;
    margin-left: 200px;
    /* float: right; */
}
/* .text2 {
    display: none;
} */
.create-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    gap: 10px;
    margin-left: -200px;
}
.createNewEntry-button {
    background-color: rgb(129, 122, 133);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 10vw;      
}
.update-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    gap: 10px;
    margin-left: -200px;
    margin-top: -20px;
}
.updateNewEntry-button {
    background-color: rgb(129, 122, 133);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 10vw;
}
.find-entry {
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-left: -200px;
}
.findEntry-button {
    background-color: rgb(129, 122, 133);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 10vw;
}
.delete-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    display: none;
    margin-left: -200px;
}
.deleteEntry-button {
    background-color: rgb(129, 122, 133);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 10vw;
}

