@import url('https://fonts.cdnfonts.com/css/mellodi-roosthm');                
* {
    border: none;
    scroll-behavior: smooth;
    background: rgb(88, 47, 88);
}
:root {
    --color1: plum;
    --color2: purple;
    --color3: #FFFF;

}
#first-div {
    display: flex;
    justify-content: right;
    gap: 14px;
    padding: 20px;
}
.log {
    background: var(--color2);
    color: var(--color3);
    width: 80px;
    height: 29px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}
.sign {
    background: var(--color3);
    color: var(--color2);
    width: 80px;
    height: 29px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}
/* dia-name {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
/* } */

/* .holder{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--color1);
    padding: 40px;
} */
.name {
    font-family: 'Mellodi Roosthm', sans-serif;                                                
    color: var(--color1);
    font-size: 200px;
    font-weight: 500;
    font-style: oblique;
    display: flex;
    justify-content: left;
}

.first-div_1{
    display: flex;
    gap: 140px;
    justify-content: center;
    
}
.aim {
    color: var(--color3);
    font-size: 25px;
    font-weight: 300px;
    font-style: normal;
    margin-top: -200px;
}
.diary {
    display: flex;
    align-content: center;
    
}
.diary-pic {
    display: flex;
    align-content: center;
    width: 590px;
    padding: 50px 20px;
} 
.register {
    /* background: rgb(49, 1, 50); */
    background-color:azure;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 260px 20px;
    margin-left: 650px;
    border-radius: 8px;   
    margin-top: -920px; 
    display: none;
}
#signup-response {
    /* background-color: rgb(49, 1, 50); */
    background-color: azure;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;

}
.signup {
    /* background-color: rgb(49, 1, 50); */
    background-color: azure;
    display: flex;
    align-content: center;
    justify-content: right;
    flex-direction: column;
    gap: 20px;

}
.signup-input {
    /* background-color: rgb(49, 1, 50); */
    background-color: azure;
    font-size: 25px;
    border: solid 2px black;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px 60px;
}
.signup-submit {
    /* background-color: var(--color2); */
    width: 150px;
    height: 45px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    color: white;  
    
}

.signup-submit:hover{
    background-color: rgb(142, 67, 142);
}

/* .button-text {
    /* background-color: rgb(49, 1, 50); */
    /* background: none;
    color: var(--color2);
    border-radius: 10px;
    font-size: 26px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 8px; */
/* } */
.already {
    display: flex;
    /* background-color: rgb(49, 1, 50); */
    background-color: azure;

}
.already1 {
    /* background-color: rgb(49, 1, 50); */
    background-color: azure;
    font-size: 26px;
    font-weight: 500;
    line-height: 150px;
    color: black
    
}
.login-submit {
    /* background-color: rgb(49, 1, 50); */
    background-color: azure;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: -20px;
    /* background-color: blue; */
} 
.button_text2 {
    /* background-color:rgb(49, 1, 50); */
    /* background-color: var(--color2); */
    background-color: azure;
    color: rgb(171, 50, 205); 
    font-size: 28px;
    font-weight: 600;
    line-height: 26px;
    border-radius: 8px;  
    margin-top: 85px; 
    text-align: center;
    gap: 120px;
}
.registered {
    background-color: azure;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 260px 20px;
    margin-left: 650px;
    border-radius: 8px;  
    flex-direction: column;
    margin-top: -920px;
    display: none;
}
#login-response {
    /* background-color: rgb(49, 1, 50); */
    background-color: azure;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}
.login {
    /* background: rgb(49, 1, 50); */
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    gap: 20px;
}
.login-input {
    /* background-color: rgb(49, 1, 50); */
    background-color: azure;
    font-size: 25px;
    border: solid 2px black;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px 60px;    
}
.forgot {
    /* background-color: rgb(49, 1, 50); */
    background-color: azure;
}
.check {
    display: flex;
    gap: 8px;
    background-color: azure;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background: rgb(49, 1, 50); */
    background-color: azure;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.forgot p {
    /* background-color: rgb(49, 1, 50); */
    background-color: azure;
    color: blueviolet;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    margin-top: -4px;
}  
.login_submit1 {
    background-color: var(--color2);
    width: 150px;
    height: 45px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    color: white;
}
/* .button_text1 {
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    background: none;
} */
.password-forgot {
    background-color: azure;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}

