* {
    border: none;
    scroll-behavior: smooth;
    background: plum;
}
:root {
    --color1: plum;
    --color2: purple;
    --color3: #FFFF;

}
#first-div {
    display: flex;
    justify-content: right;
    gap: 14px;
}
.log {
    background: var(--color2);
    color: var(--color3);
    width: 80px;
    height: 29px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}
.sign {
    background: var(--color3);
    color: var(--color2);
    width: 80px;
    height: 29px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}
.first-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
/* dia-name {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
/* } */

.holder{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--color1);
}
.name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--color3);
    font-size: 190px;
    font-weight: 500;
    font-style: oblique;
    display: flex;
    justify-content: left;
}

.first-div_1{
    display: flex;
    gap: 140px;
    justify-content: center;
}
/* .aim {
    color: var(--color2);
    font-family: ;
    font-size: 30px;
    font-weight: 500px;
    font-style: italic;
} */
.diary {
    display: flex;
    align-content: center;
    
}
.diary-pic {
    display: flex;
    align-content: center;
    width: 550px;
    /* max-height: 800px; */
} 
.register {
    background: rgb(49, 1, 50);
    width: 500px;
    max-height: 400px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 260px 20px;
    margin-left: 650px;
    border-radius: 8px;    
    display: none;
}
#signup-response {
    background-color: rgb(49, 1, 50);

}
.signup {
    background-color: rgb(49, 1, 50);
    display: flex;
    align-content: center;
    justify-content: right;
    flex-direction: column;

}
.signup-input {
    background-color: rgb(49, 1, 50);
    font-size: 25px;
    border: solid 4px black;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px 60px;
}
.signup-submit {
    /* background-color: rgb(49, 1, 50); */
    background-color: var(--color3);
    padding: 10px;
    text-align: center;
}

.signup-submit:hover{
    background-color: darkmagenta;
}

.button-text {
    /* background-color: rgb(49, 1, 50); */
    background: none;
    color: var(--color2);
    border-radius: 10px;
    font-size: 26px;
    font-weight: 500;
    line-height: 16px;
}
.already {
    display: flex;
    background-color: rgb(49, 1, 50);
}
.already p {
    background-color: rgb(49, 1, 50);
    font-size: 26px;
    font-weight: 500;
    line-height: 150px;
    color: yellowgreen;
    
}
.login-submit {
    background-color: rgb(49, 1, 50);
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: -20px;
    /* background-color: blue; */
} 
.button_text2 {
    background-color:rgb(49, 1, 50);
    /* background-color: var(--color2); */
    color: black;
    font-size: 28px;
    font-weight: 600;
    line-height: 26px;
    border-radius: 8px;  
    margin-top: 85px; 
    text-align: center;
    gap: 120px;
}
.registered {
    background: rgb(49, 1, 50);
    width: 500px;
    max-height: 400px;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 260px 20px;
    /* margin-left: 250px; */
    border-radius: 8px;  
    flex-direction: column;
    display: none;
}
.login {
    background: rgb(49, 1, 50);
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}
.login-input {
    background-color: rgb(49, 1, 50);
    font-size: 25px;
    border: solid 4px black;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px 60px;    
}
.forgot {
    background-color: rgb(49, 1, 50);
}
.check {
    display: flex;
    gap: 8px;
    background-color: rgb(49, 1, 50);
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgb(49, 1, 50);
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.forgot p {
    background-color: rgb(49, 1, 50);
    color: blueviolet;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    margin-top: -4px;
}  
.login_submit1 {
    background-color: var(--color3);
    width: 150px;
    height: 45px;
    border-radius: 10px;
}
.button_text1 {
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    background: none;
}

